@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
    margin: 4em 10em;
  }
  @media (max-width:1200px){
    .section {
      margin: 3em 6em;
    }
  }
.title{
    text-align: center;
}